body {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h1 {
    margin: 0;
    font-size: 30px;
    line-height: 42px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: green;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: red;
}

.logo {
  min-height: 70px;
  width: 140px;
  margin-right: 20px;
  float: left;
  background-color: yellow;
}

.main-navigation {
  min-height: 70px;
  width: 620px;
  float: left;
  background-color: yellow;
}

.user-block {
  min-height: 70px;
  width: 140px;
  float: right;
  background-color: yellow;
}

.inner-main {
  background-color: green;
}

.main-title {
  background-color: yellow;
}

.breadcrumbs {
    min-height: 70px;
    width: 900px;
    margin-bottom: 53px;
    background-color: yellow;
}

.catalog-filter {
  min-height: 600px;
  float: left;
  width: 220px;
  margin-right: 20px;
  background-color: yellow;
}

.catalog {
  min-height: 600px;
  float: left;
  width: 700px;
  font-size: 0px;
  margin-bottom: 45px;
  background-color: yellow;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: green;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  background-color: green;
  clear: both;
  font-size: 14px;
}

.column-half {
  width: 460px;
  float: left;
  margin-right: 10px;
  margin-bottom: 45px;
  background-color: yellow;
  min-height: 670px;
  font-size: 0px;
}

.column-half:last-child {
  margin-right: 0;
}

.item-img-mini {
  float: left;
  width: 140px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: green;
}

.item-img-mini:last-child {
  margin-right: 0;
}


.item-description {
  display: inline-block;
  width: 400px;
  font-size: 14px;
  margin-bottom: 185px;
  padding-left: 60px;
  padding-top: 24px;
  background-color: green;
}

.item-structure {
  display: inline-block;
  width: 400px;
  font-size: 14px;
  margin-bottom: 147px;
  padding-left: 60px;
  background-color: green;
}



.main-footer {
  background-color: green;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
  background-color: yellow;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
  background-color: yellow;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
  background-color: yellow;
}
